@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bannerThumb{
        width: 55%;
    }

    .bannerSpl{
        height: 50vh;
    }

    .titleCardView{
        margin-top: -80px;
    }

    .titleCardViewInner{
        width: 300px;
    }

    .hdrAlign{
        margin: -60px 0 0 0;
    }

    .imgThumbViewAlign{
        max-height: 450px;
    }

    .blog-header{
        line-height: 1.67;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
}